---
import Social from "./Social.astro";
const platform = "github";
const username = "j-toscani";
---

<footer class="container">
  <p>
    Learn more about my projects on <Social
      platform={platform}
      username={username}
    />!
  </p>
</footer>
