---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <a
    href="#navigation"
    role="button"
    class="nav-opener"
    style="margin-left: auto"
  >
    <span></span>
    <span></span>
    <span></span>
  </a>

  <Navigation />
  <ThemeIcon />
</header>
