---
import Navigation from "./Navigation.astro";
---

<header>
  <a href="#navigation" role="button" class="nav-opener" style="margin-left: auto">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <Navigation />
</header>
